<%= form_for @message do |form| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
      <ul>
        <% @message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.fields_for :contact do |c| %>
    <div>
      <%= c.label 'Name' %>
    </div>
    <div>
      <%= c.text_field :first_name, class: "form_input h-7 underlined-form-style w-full bg-teal-backup", required: true, maxlength: 32 %>
    </div>
    <div>
      <%= c.label 'Email' %>
    </div>
    <div>
      <%= c.email_field :email, class: "form_input h-7 underlined-form-style w-full bg-teal-backup", required: true, maxlength: 42%>
    </div>
    <%= c.hidden_field :entry_process, value: "Message" %>
  <% end %>
  <div>
    <%= form.label "Message" %>
  </div>
  <div>
    <%= form.text_area :body, class: "form_text-area h-20 underlined-form-style w-full bg-teal-backup resize-none", required: true, maxlength: 170%>
  </div>
  <div class="flex justify-end">
    <%= form.submit "SUBMIT", class: "bg-white text-teal-readable font px-8 py-1 text-xs cursor-pointer"%>
  </div>
<% end %>
