<%= form_for @message do |form| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
      <ul>
        <% @message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.fields_for :contact do |c| %>
    <div>
      <%= c.label 'Name' %>
    </div>
    <div>
      <%= c.text_field :first_name, class: "bg-blue-200 border-b-2 border-blue-300 w-full"%>
    </div>
    <div>
      <%= c.label 'Email' %>
    </div>
    <div>
      <%= c.text_field :email, class: "bg-blue-200 border-b-2 border-blue-300 w-full"%>
    </div>
    <%= c.hidden_field :entry_process , value: "Message" %>
  <% end %>
  <div>
    <%= form.label "Message" %>
  </div>
  <div>
    <%= form.text_area :body, class: "bg-blue-200 h-20 w-full resize-none" %>
  </div>
  <div class="flex justify-end">
    <%= form.submit "SUBMIT", class: "bg-white text-blue-200 font px-8 py-1 text-xs cursor-pointer"%>
  </div>
<% end %>
