<%= form.date_field :date %>
<div class="row">
  <%= form.select :start_time, options_for_select(@event.hourly_choices(8,17),  @event[:start_time].nil? ? '' : @event[:start_time].strftime("%T"))%>
  <%= form.select :end_time, options_for_select(@event.hourly_choices(14,23),  @event[:end_time].nil? ? '' : @event[:end_time].strftime("%T"))%>
</div>
<div class="row">
  <%= form.select :event_type, options_for_select(Event.event_types)%>
  <%= form.number_field :num_attendees %>
</div>
<div class="row">
  <div class="col-md-2">Ammenities: </div>
  <div class="col-md-2">
    <%= form.check_box :doorperson %>
  </div>
  <div class="col-md-2">
    <%= form.check_box :alcohol, class: 'col-md-2' %>
  </div>
  <div class="col-md-2">
    <%= form.check_box :open_bar, class: 'col-md-2'%>
  </div>
</div>
<% if @event.preferences.first.requested %>
  Food Vendor Request
  <div class="row">
    <div class="col-md-4">First Choice</div>
    <div class="col-md-4">Second Choice </div>
    <div class="col-md-4">Third Choice</div>
  </div>
  <div class="row">
    <div class="col-md-4"><%= @event.preferences.first.first_choice.name%></div>
    <div class="col-md-4"><%= @event.preferences.first.second_choice.name%></div>
    <div class="col-md-4"><%= @event.preferences.first.third_choice.name%></div>
  </div>
  <div class="row">.</div>
<% end %>
<% if @event.preferences.second.requested %>
  Entertainer Request
  <div class="row">
    <div class="col-md-4">First Choice</div>
    <div class="col-md-4">Second Choice </div>
    <div class="col-md-4">Third Choice</div>
  </div>
  <div class="row">
    <div class="col-md-4"><%= @event.preferences.second.first_choice.name%></div>
    <div class="col-md-4"><%= @event.preferences.second.second_choice.name%></div>
    <div class="col-md-4"><%= @event.preferences.second.third_choice.name%></div>
  </div>
  <div class="row">.</div>
<% end %>
<%= form.fields_for :contact do |c| %>
  Contact
  <div class="row">
    <%= c.text_field :first_name%>
    <%= c.text_field :last_name%>
  </div>
  <div class="row">
    <%= c.text_field :email%>
    <%= c.text_field :phone_number%>
  </div>
  <%= c.hidden_field :entry_process , value: "Event" %>
<% end %>
<%= form.form_actions do %>
  <%= form.submit class: "btn btn-primary" %>
  <%= link_to 'Cancel', admin_events_path, class: "btn btn-link" %>
<% end %>
