<div class="page-header">
  <%= link_to 'New Event', new_admin_event_path, class: 'btn btn-secondary float-right' %>
  <h2>
    <%= 'Event Requests' %>
  </h2>
</div>
<%= paginate @events, theme: 'comfy' %>
<ul class="list">
  <% @events.each do |event| %>
    <li>
      <div class="row">
        <div class="col-md-3 item">
          <div class="item-content">
            <div class="item-title">
              <%= event.date %>
            </div>
          </div>
        </div>
        <div class="col-md-3 item">
          <div class="item-content">
            <div class="item-title">
              <%= event.event_type%>
            </div>
          </div>
        </div>
        <div class="col-md-3 item">
          <div class="item-content">
            <div class="item-title">
              <%= event.num_attendees%>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-items-center justify-content-md-end">
          <div class="btn-group btn-group-sm">
            <%= render 'admin/schedules/confirmation_form', event_date: event.date, event_description: event.event_type %>
            <%= link_to 'Edit', edit_admin_event_path(event), class: 'btn btn-outline-secondary' %>
            <%= link_to 'Delete', admin_event_path(event), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<%= paginate @events, theme: 'comfy' %>
