.page-header
  = link_to 'New Event', new_admin_event_path, class: 'btn btn-secondary float-right'
  %h2= 'Events'

= paginate @events, theme: 'comfy'

%ul.list
  - @events.each do |event|
    %li
      .row
        .col-md-8.item
          .item-content
            .item-title
              = event.date

        .col-md-4.d-flex.align-items-center.justify-content-md-end
          .btn-group.btn-group-sm
            = link_to 'Edit', edit_admin_event_path(event), class: 'btn btn-outline-secondary'
            = link_to 'Delete', admin_event_path(event), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'

= paginate @events, theme: 'comfy'
