<div class="<%= class_names(backgroundColor, 'partner-panel') %>"
    style=  "background-image: url(<%= partner.photo.attached? ? url_for(partner.photo) : ""%>)"
  name ="<%=partner.name%>"
  bio = "<%= partner.bio %>"
  <%="facebook=#{partner.facebook}" unless partner.facebook.empty?  %>
  <%= "instagram=#{partner.instagram}" unless partner.instagram.empty? %>
  <%= "twitter=#{partner.twitter}" unless partner.twitter.empty? %>
  <%= "website=#{partner.website}" unless partner.website.empty? %>
>
  <div class="absolute left-5 bottom-4 bg-white py-2 px-5">
    <p class="text-sm md:text-base"><%= partner.name %></p>
    <% unless partner.tagline.empty?%>
      <p class="hidden md:flex ml-2 text-xs">
        "<%= partner.tagline %>"
      </p>
    <% end %>
  </div>
</div>
