<div class="<%= class_names(backgroundColor, 'partner-panel') %>">
  <div><%= partner.name %></div>
  <div><%= partner.tagline %></div>
  <div><%= partner.bio %></div>
  <div><%= partner.low_price %> - <%= partner.high_price %></div>
  <div>
    <% if partner.photo.attached?%>
      <img src="<%=url_for(partner.photo)%>" alt="photo" class="w-40 h-40">
    <%end%>
  </div>
</div>
