<div id="popup_partner_screen" class="hidden w-screen h-screen fixed top-0 left-0 bg-gray-500 opacity-95  justify-center">
  <div id="popup_partner_container" class="bg-white sm:w-96 self-center p-8 ">
    <div class="flex relative">
      <%= inline_svg_tag "left-chevron.svg",
                      class:'w-5 pr-3 cursor-pointer bg-popup-gray mt-1',
                      id: 'left_chevron' %>
      <h3 id="popup_partner_name" class="text-xl font-semibold mb-2">Artist Name</h3>
    </div>
    <p id="popup_partner_bio" class="font-light mb-6">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis justo nisl. Sed risus massa.
    </p>
    <div class="flex">
      <a id="popup_partner_twitter" class="pointer-events-none" href=" " target="_blank">
        <%= inline_svg_tag "twitter.svg", class:'w-5 h-5 stroke-current fill-current stroke-0' %>
      </a>
      <a id="popup_partner_facebook" class="pointer-events-none" href=" " target="_blank">
        <%= inline_svg_tag "facebook.svg", class:'w-5 h-5 ml-3 stroke-current fill-current stroke-0' %>
      </a>
      <a id="popup_partner_instagram" class="pointer-events-none" href=" " target="_blank">
        <%= inline_svg_tag "instagram.svg", class:'w-5 h-5 ml-3 stroke-current fill-current stroke-0' %>
      </a>
      <a id="popup_partner_website" class="pointer-events-none" href=" " target="_blank">
        <%= inline_svg_tag "web-globe.svg", class:'w-5 h-5 ml-3 stroke-current fill-current stroke-0' %>
      </a>
    </div>
  </div>
</div>
