<% @partners.each do |partner| %>
  <div><%= partner.name %></div>
  <div><%= partner.tagline %></div>
  <div><%= partner.bio %></div>
  <div><%= partner.low_price %> - <%= partner.high_price %></div>
<%end%>
