<% content_for :meta_tags do %>
  <title>Community Collaborators</title>
  <meta name="description" content="<%= truncate(get_text_content(:about, 
    'Here is a blurb. It is a long-established fact that a reader will be distracted by the content of a sites text while looking at its design. The point of using Lorem Ipsum is that it has a more or less normal distribution of the letters, as opposed to using texts such as "Content here, content here". These texts make it look like Spanish that can be read. Many desktop publishing packages and web page editors use Lorem Ipsum as their default text, and doing a search for "Lorem Ipsum" will return many websites that use this text if they are under development.')[3..-1],length: 150)
      %>">
<% end %>
<%= render 'shared/navbar', page: "partners"%>
<div class="mx-6 sm:mx-12">
  <div class="flex flex-col sm:flex-row justify-between w-full max-h-96 mt-12 sm:mb-10">
    <%= render 'index_panel',
      destination: entertainers_path,
      photo: :entertainersPhoto,
      title: 'Entertainers',
      backgroundColor: 'bg-red-300' %>
    <%= render 'index_panel',
      destination: vendors_path,
      photo: :vendorsPhoto,
      title: 'Food Vendors',
      backgroundColor: 'bg-blue-300' %>
  </div>
  <div class="sm:w-2/3">
    <%= get_text_content :about, 
  'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis justo nisl. Sed risus massa, volutpat sed nunc ac, sagittis hendrerit tellus. Vestibulum molestie purus vel justo fermentum sollicitudin. Duis blandit sed arcu non iaculis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis justo nisl. Sed risus massa, volutpat sed nunc ac, sagittis hendrerit tellus. Vestibulum molestie purus vel justo fermentum sollicitudin. Duis blandit sed arcu non iaculis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis justo nisl. Sed risus massa, volutpat sed nunc ac, sagittis hendrerit tellus. Vestibulum molestie purus vel justo fermentum sollicitudin. Duis blandit sed arcu non iaculis.'
  %>
    <div class="max-w-lg">
      <p class="mt-7">
        Are you a food vendor or entertainer who wants to be added to our community page?
        <%= link_to 'Please reach out!', root_path(anchor: 'connect'), class: "underline"  %>
      </p>
      <p class="mt-7">
        <%= link_to 'View upcoming events on our calendar.', calendar_path, class: "underline"  %>
      </p>
    </div>
  </div>
</div>
