<%# Press Section %>
<div id="press" class="grid grid-cols-12 gap-6 mx-5 sm:mx-14 pt-16 pb-8">
  <div class="col-span-1 flex justify-center">
    <p class="vertical-lr transform rotate-180 font-black text-4xl ">
      IN THE PRESS</p>
  </div>
  <%= render 'pages/home/press/article_1'%>
  <%= render 'pages/home/press/article_2'%>
  <%= render 'pages/home/press/article_3'%>
  <%= render 'pages/home/press/article_4'%>
  <%= render 'pages/home/press/article_5'%>
</div>
