<h4 class="font-bold my-4 text-xl">Amenities</h4>
<div class="my-4 flex flex-wrap justify-between">
  <div class="flex w-32 mr-5 my-2">
    <%= inline_svg_tag "tables.svg", class:'w-5 mx-3' %>
    <p>10xTables</p>
  </div>
  <div class="flex w-32 mr-5 my-2">
    <%= inline_svg_tag "speaker.svg", class:'w-5 mx-3' %>
    <p>Sound System</p>
  </div>
  <div class="flex w-32 mr-5 my-2">
    <%= inline_svg_tag "tables.svg", class:'w-5 mx-3' %>
    <p>10xTables</p>
  </div>
  <div class="flex w-32 mr-5 my-2">
    <%= inline_svg_tag "tables.svg", class:'w-5 mx-3' %>
    <p>10xTables</p>
  </div>
  <div class="flex w-32 mr-5 my-2">
    <%= inline_svg_tag "tables.svg", class:'w-5 mx-3' %>
    <p>10xTables</p>
  </div>
  <div class="flex w-32 mr-5 my-2">
    <%= inline_svg_tag "tables.svg", class:'w-5 mx-3' %>
    <p>10xTables</p>
  </div>
  <div class="flex w-32 mr-5 my-2">
    <%= inline_svg_tag "tables.svg", class:'w-5 mx-3' %>
    <p>10xTables</p>
  </div>
  <div class="flex w-32 mr-5 my-2">
    <%= inline_svg_tag "tables.svg", class:'w-5 mx-3' %>
    <p>10xTables</p>
  </div>
</div>
<button class="border-2 border-gray-600 px-10 py-1">SEE ALL</button>
