<div class="my-4">
  <details class="border-t border-gray-400 py-4">
    <summary class="cursor-pointer text-lg" >
      Cleaning Protocol
      <%= inline_svg_tag "broom.svg", class:'w-5 ml-2' %>
    </summary>
    <div class="ml-10 mt-4">
      <%= get_text_content(:cleaningProtocol,'This is a message that describes the cleaning protocol')%>
    </div>
  </details>
  <details class="border-t border-gray-400 py-4">
    <summary class="cursor-pointer text-lg " >
      Parking
      <%= inline_svg_tag "parking.svg", class:'w-5 ml-2' %>
    </summary>
    <div class="ml-10 mt-4">
      <%= get_text_content(:parking,'This is a message that describes the parking')%>
    </div>
  </details>
  <details class="border-t border-gray-400 py-4">
    <summary class="cursor-pointer text-lg" >
      Host Rules
      <%= inline_svg_tag "rules.svg", class:'w-5 ml-2' %>
    </summary>
    <div class="ml-10 mt-4">
      <%= get_text_content(:hostRules,'This is a message that describes the house rules')%>
    </div>
  </details>
</div>
