<footer class="">
  <div class="mx-12">
    <div class="bg-blue-200 h-12 my-12"></div>
    <div class="flex flex-col justify-between md:flex-row">
      <div class="w-52">
        <div>
          <p>5116 Pentridge Street</p>
          <p>Philadelphia, PA</p>
          <p>United States, 19143</p>
        </div>
      </div>
      <div class="w-52">
        <p class="underline">(215) 123-1234</p>
        <p class="underline mt-2">email@pentridgestation.com</p>
        <div class="flex flex-row mt-3 ">
          <a href="">
            <%= inline_svg_tag "twitter.svg", class:'w-5 ' %>
          </a>
          <a href="">
            <%= inline_svg_tag "instagram.svg", class:'w-5 ml-2' %>
          </a>
          <a href="">
            <%= inline_svg_tag "facebook.svg", class:'w-5 ml-2' %>
          </a>
        </div>
      </div>
      <div class="w-52 text-right">
        <a href="#top">
          <%= inline_svg_tag "up-arrow.svg", class:'w-8 fill-current text-white ml-44 animate-bounce' %>
        </a>
        <p>go to <span class="font-bold">top</span></p>
      </div>
    </div>
    <div class="mt-3">
      <button id="newsletterButton">subscribe to our newsletter</button>
      <%= render 'contacts/form' %>
    </div>
    <div class="flex flex-col md:flex-row font-extralight text-gray-800 justify-between mt-6">
      <a href="https://www.zipperfield.com/" class="md:w-96">
        <p>design by <span class="font-light text-gray-800">Zipperfield</span></p>
      </a>
      <div class="md:w-96 text-right">
        <p>Copyright @ Pentridge Station 2021</p>
        <p> Terms of service apply to site use</p>
      </div>
    </div>
  </div>
</footer>
