<header id="header" class="relative bg-teal-readable bg-center bg-cover"
    style=  "background-image: url(<%= get_photo_url(:headerPhoto)%>)">
  <div class="absolute z-0 w-full  h-full bg-gradient-to-b from-transparent to-teal-darkest opacity-90 sm:opacity-70 md:opacity-50"></div>
  <%= render 'shared/navbar', page: page %>
  <div class="relative z-10 mx-3 sm:w-96 mt-12 sm:ml-16 md:ml-24 text-white pb-8">
    <div class="text-4xl sm:text-7xl font-extrabold">
      <%= get_text_content(:headerTitle, 'Page Title')%>
    </div>
    <div class="my-6 sm:w-80 text-shadow">
      <%= get_text_content :headerSubtitle, 
      'Header Subtitle. Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et aliqua.'
      %>
    </div>
    <a href=<%= about_path %>>
      <button class=" border-4 border-teal-lightest w-36 py-2 text-sm transparent-button-transition">LEARN MORE</button>
    </a>
  </div>
</header>
