<header id="header" class="bg-blue-300 bg-fixed bg-center bg-cover"
    style=  "background-image: url(<%= get_photo_url(:titlePhoto)%>)">
  <%= render 'shared/navbar', page: page %>
  <div class="mx-3 sm:w-96 mt-12 sm:ml-16 md:ml-24 text-white pb-8">
    <div class="text-4xl sm:text-7xl font-extrabold">
      <%= get_text_content(:pageTitle, 'Page Title')%>
    </div>
    <div class="my-6 sm:w-80">
      <%= get_text_content :pageSubtitle, 
      'Porem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et aliqua.'
      %>
    </div>
    <a href=<%= about_path %>>
      <button class=" border-4 border-blue-400 w-36 py-2 text-sm transition duration-1000 hover:border-opacity-0 hover:underline ">LEARN MORE</button>
    </a>
  </div>
</header>
