<div 
id ='navbar'
class=" flex flex-row justify-between pt-6 mx-2 sm:mx-10"
page=<%=page%>
>
  <div></div>
  <a href=<%= root_path%> class="w-28 absolute">
    <%= image_tag('logo.png') %>
  </a>
  <div class='flex'>
    <%= link_to "RENT SPACE", book_path, class: "w-auto bg-teal-lightest text-white px-3 py-2 hover:bg-teal-lighter transition-colors duration-200" %>
    <details id="navbar-details" class="ml-4">
      <summary class='inline '>
        <div class="tham tham-e-squeeze tham-w-4  bg-gray-600 w-9 h-9 rounded-full ">
          <div class="tham-box">
            <div class="tham-inner bg-white">
            </div>
          </div>
        </div>
      </summary>
      <nav class="z-50 shadow-2xl bg-white text-teal-lighter flex flex-col absolute right-0 text-5xl pl-10 pr-6 py-12 mt-1 text-right rounded-l-full ">
        <%= link_to 'Home.', root_path, class: "navbar-hover" %>
        <%= link_to 'About', about_path, class: "navbar-hover" %>
        <%= link_to 'Contact', root_path(anchor: 'connect'), class: "navbar-hover" %>
        <%= link_to 'Press', root_path(anchor: 'press'), class: "navbar-hover" %>
        <%= link_to 'Community', community_path, class: "navbar-hover" %>
        <div class="flex justify-end">
          <%= link_to "Rent Space", book_path,
          class: "font-semibold border-opacity-50 ring-opacity-50 self-end px-4 border text-teal-lightest mt-3 text-3xl border-red-400 ring-2 py-1 ring-red-200 hover:bg-teal-lightest hover:text-teal-backup hover:bg-opacity-10 " 
          %>
          <%# class: "border-opacity-50 ring-opacity-50 self-end px-4 border text-teal-lighter mt-3 text-3xl border-red-400 ring-2 py-1 ring-red-200 hover:bg-teal-backup hover:text-teal-backup hover:bg-opacity-10 " %>
        </div>
      </nav>
    </details>
  </div>
</div>
