<div class="flex flex-col md:flex-row mx-4 md:mx-12">
  <div class="md:order-2 flex w-full justify-center">
    <div class="my-6 md:mt-40 bg-teal-lighter w-full sm:w-5/6 h-60 sm:h-96 lg:w-96"></div>
  </div>
  <div class="md:order-1 flex flex-col justify-center items-center">
    <%= render 'pages/about/date_section', date: '2017-2018',
                            title: 'An Event Happened', 
                            text: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
                            keep_open: 'open' %>
    <%= render 'pages/about/date_section', date: '2017-2018',
                            title: 'An Event Happened', 
                            text: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
                            keep_open: '' %>
    <%= render 'pages/about/date_section', date: '2017-2018',
                            title: 'An Event Happened', 
                            text: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
                            keep_open: '' %>
    <%= render 'pages/about/date_section', date: '2017-2018',
                            title: 'An Event Happened', 
                            text: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
                            keep_open: '' %>
    <%= render 'pages/about/date_section', date: '2017-2018',
                            title: 'An Event Happened', 
                            text: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
                            keep_open: '' %>
  </div>
</div>
