<div class="flex flex-col md:flex-row mx-4 md:mx-12">
  <%= render 'pages/about/photo' %>
  <div class="md:order-1 flex flex-col justify-center items-center">
    <%= render 'pages/about/date_section', date: get_text_content(:firstDate, '2015'),
                            title: get_text_content(:firstEvent, 'The First Event'), 
                            text: get_text_content(:firstDescription, 'The first event description goes here. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.'),
                            keep_open: 'open' %>
    <%= render 'pages/about/date_section', date: get_text_content(:secondDate, '2016'),
                            title: get_text_content(:secondEvent, 'The Second Event'), 
                            text: get_text_content(:secondDescription, 'The second event description goes here. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.'),
                            keep_open: '' %>
    <%= render 'pages/about/date_section', date: get_text_content(:thirdDate, 'June 1, 2017'),
                            title: get_text_content(:thirdEvent, 'The Third Event'), 
                            text: get_text_content(:thirdDescription, 'The third event description goes here. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.'),
                            keep_open: '' %>
    <%= render 'pages/about/date_section', date: get_text_content(:fourthDate, '2018-2020'),
                            title: get_text_content(:fourthEvent, 'The Fourth Event'), 
                            text: get_text_content(:fourthDescription, 'The fourth event description goes here. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.'),
                            keep_open: '' %>
    <%= render 'pages/about/date_section', date: get_text_content(:fifthDate, '2016'),
                            title: get_text_content(:fifthEvent, 'The Fifth Event'), 
                            text: get_text_content(:fifthDescription, 'The fifth event description goes here. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.'),
                            keep_open: '' %>
    <div class="mt-6 w-80">
      <p class="mb-6">
        <%= get_text_content(:callToBook,"A call to rent the space. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book")%>
      </p>
      <%= link_to "RENT SPACE", book_path, class: "w-auto bg-teal-lightest text-white px-3 py-2 hover:bg-teal-lighter transition-colors duration-200" %>
      <p class="mt-4 font-light">
        Have any questions?
        <%= link_to "Please contact us!", root_path(anchor: 'connect'), class: "underline" %>
      </p>
    </div>
  </div>
</div>
