<%= form_with model: @event , local: true do |f|%>
  <div>
    <%= f.label 'Date' %>
    <%= f.date_field :date %>
  </div>
  <div>
    <%= f.label 'Start Time' %>
    <%= f.select :start_time, [["10:00 AM", 10],["11:00 AM", 11]]%>
  </div>
  <div>
    <%= f.label 'End Time' %>
    <%= f.select :end_time, [["11:00 AM",11],["12:00 PM",12]]%>
  </div>
  <div>
    <%= f.label 'Event Type' %>
    <%= f.select :event_type, options_for_select(Event.event_types)%>
  </div>
  <div>
    <%= f.label 'Number Attendees' %>
    <%= f.select :num_attendees, options_for_select(Event.num_attendees)%>
  </div>
  <%= f.fields_for :contact do |c| %>
    <div>
      <%= c.label 'Name' %>
      <%= c.text_field :name%>
    </div>
    <div>
      <%= c.label 'Email' %>
      <%= c.text_field :email%>
    </div>
    <div>
      <%= c.label 'Phone Number' %>
      <%= c.text_field :phone_number%>
    </div>
    <%= c.hidden_field :entry_process , value: "Event" %>
  <% end %>
  <%= @vendor_choices %>
  <%= f.fields_for :preferences do |c| %>
    <%= c.hidden_field :preference_type , value: "Vendor" %>
    <div>
      <%= c.label 'First Choice' %>
      <%= c.collection_select :first_choice_id, Partner.all, :id, :name %>
      <%# <%= c.select :first_choice_id, @vendor_choices%> %>
    </div>
    <div>
      <%= c.label 'Second Choice' %>
      <%= c.collection_select :second_choice_id, Partner.all, :id, :name %>
      <%# <%= c.select :second_choice_id, @vendor_choices%> %>
    </div>
    <div>
      <%= c.label 'Third Choice' %>
      <%= c.collection_select :third_choice_id, Partner.all, :id, :name %>
      <%# <%= c.select :third_choice_id, @vendor_choices%> %>
    </div>
  <% end %>
  <%= f.submit "SUBMIT", class: "btn btn-primary" %>
<% end %>
