<%= form_with model: @event, html: {id: 'event_form'}, local: true do |f|%>
  <%= render 'events/form/info' %>
  <%= render 'events/form/errors'%>
  <%= render 'events/form/contact', f: f%>
  <%= render 'events/form/preferences', f: f%>
  <%= render 'events/form/doorperson', f: f%>
  <%= render 'events/form/alcohol', f: f%>
  <%= render 'events/form/hidden_fields', f: f%>
  <div >
    <%= f.submit "REQUEST TO BOOK",
         data: { disable_with: false },
         id:'event_submit', 
         class: "w-full text-white bg-blue-400 py-3 "
      %>
  </div>
<% end %>
