<%= form_with model: @event, local: true do |f|%>
  <h3 class="text-5xl">Request to Book</h3>
  <%= render 'events/form/errors'%>
  <div>
    <%= f.label 'Date' %>
    <%= f.date_field :date, min: Date.today, required: true%>
  </div>
  <div>
    <%= f.label 'Start Time' %>
    <%= f.select :start_time, options_for_select(@event.hourly_choices(1,23)), required: true%>
  </div>
  <div>
    <%= f.label 'End Time' %>
    <%= f.select :end_time, options_for_select(@event.hourly_choices(1,23)), required: true%>
  </div>
  <div>
    <%= f.label 'Event Type' %>
    <%= f.select :event_type, options_for_select(Event.event_types), required: true%>
  </div>
  <div>
    <%= f.label 'Number Attendees' %>
    <%= f.select :num_attendees, options_for_select(Event.num_attendees), required: true%>
  </div>
  <%= render 'events/form/contact', f: f%>
  <%= render 'events/form/preferences', f: f%>
  <div>
    <%= f.submit "SUBMIT", class: "btn btn-primary" %>
  </div>
<% end %>
