<%= form_with model: @event, local: true do |f|%>
  <h3 class="text-4xl font-bold mt-10 mb-8">Request to Book</h3>
  <%= f.hidden_field :date%>
  <%= f.hidden_field :start_time%>
  <%= f.hidden_field :end_time%>
  <%= f.hidden_field :event_type%>
  <%= f.hidden_field :num_attendees%>
  <%= render 'events/form/info' %>
  <%= render 'events/form/errors'%>
  <%= render 'events/form/contact', f: f%>
  <%= render 'events/form/preferences', f: f%>
  <div >
    <%= f.submit "REQUEST TO BOOK", id:'event_submit', class: "w-full text-white bg-blue-400 py-3 " %>
  </div>
<% end %>
