<%= form_with model: @event , local: true do |f|%>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this message from being saved:</h2>
      <ul>
        <% @event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label 'Date' %>
    <%= f.date_field :date, min: Date.today, required: true%>
  </div>
  <div>
    <%= f.label 'Start Time' %>
    <%= f.select :start_time, options_for_select(@event.hourly_choices(1,23)), required: true%>
  </div>
  <div>
    <%= f.label 'End Time' %>
    <%= f.select :end_time, options_for_select(@event.hourly_choices(1,23)), required: true%>
  </div>
  <div>
    <%= f.label 'Event Type' %>
    <%= f.select :event_type, options_for_select(Event.event_types), required: true%>
  </div>
  <div>
    <%= f.label 'Number Attendees' %>
    <%= f.select :num_attendees, options_for_select(Event.num_attendees), required: true%>
  </div>
  <%= f.fields_for :contact do |c| %>
    <div>
      <%= c.label 'First Name' %>
      <%= c.text_field :first_name, required: true, maxlength: 20 %>
    </div>
    <div>
      <%= c.label 'Last Name' %>
      <%= c.text_field :last_name, required: true, maxlength: 20 %>
    </div>
    <div>
      <%= c.label 'Email' %>
      <%= c.email_field :email, required: true, maxlength: 42 %>
    </div>
    <div>
      <%= c.label 'Phone Number' %>
      <%= c.telephone_field :phone_number, required: true, maxlength: 10 %>
    </div>
    <%= c.hidden_field :entry_process , value: "Event" %>
  <% end %>
  <%= f.fields_for :preferences do |c| %>
    <% if c.object.vendor?%>
      <% choices = @vendor_choices%>
      <div>
        <span id="vendor_partnership"> I would like to request to book a Pentridge Station food vendor partner.</span>
        <%= f.check_box :vendor_partnership, checked: true %>
      </div>
      <div id="vendor_partnership_form" class="flex flex-col">
        <%= c.hidden_field :preference_type , value: "vendor" %>
      <% elsif c.object.musician? %>
        <% choices = @musician_choices%>
        <div>
          <span id="muscian_partnership"> I would like to request to book a Pentridge Station music partner.</span>
          <%= f.check_box :musician_partnership, checked: true %>
        </div>
        <div id="musician_partnership_form" class="flex flex-col">
          <%= c.hidden_field :preference_type , value: "musician" %>
        <% end %>
        <div>
          <%= c.label 'First Choice' %>
          <%= c.select :first_choice_id, options_for_select(choices, choices.first)%>
        </div>
        <div>
          <%= c.label 'Second Choice' %>
          <%= c.select :second_choice_id, options_for_select(choices, choices.second) %>
        </div>
        <div>
          <%= c.label 'Third Choice' %>
          <%= c.select :third_choice_id, options_for_select(choices, choices.third) %>
        </div>
      </div>
    <% end %>
    <div>
      <%= f.submit "SUBMIT", class: "btn btn-primary" %>
    </div>
  <% end %>
