<%= form_with model: @event , local: true do |f|%>
  <div>
    <%= f.label 'Date' %>
    <%= f.date_field :date %>
  </div>
  <div>
    <%= f.label 'Start Time' %>
    <%= f.select :start_time, [["10:00 AM", 10],["11:00 AM", 11]]%>
  </div>
  <div>
    <%= f.label 'End Time' %>
    <%= f.select :end_time, [["11:00 AM",11],["12:00 PM",12]]%>
  </div>
  <div>
    <%= f.label 'Event Type' %>
    <%= f.select :event_type, options_for_select(Event.event_types)%>
  </div>
  <div>
    <%= f.label 'Number Attendees' %>
    <%= f.select :num_attendees, options_for_select(Event.num_attendees)%>
  </div>
  <%= f.fields_for :contact do |c| %>
    <div>
      <%= c.label 'Name' %>
      <%= c.text_field :name%>
    </div>
    <div>
      <%= c.label 'Email' %>
      <%= c.text_field :email%>
    </div>
    <div>
      <%= c.label 'Phone Number' %>
      <%= c.telephone_field :phone_number%>
    </div>
    <%= c.hidden_field :entry_process , value: "Event" %>
  <% end %>
  <div>
    <span id="vendor_partnership"> I would like to request to book a Pentridge Station food vendor partner.</span>
    <%= f.check_box :vendor_partnership, checked: true %>
    <div id="vendor_partnership_form" class="flex flex-col">
      <%= f.fields_for :preferences do |c| %>
        <% if c.object.Vendor?%>
          <%= c.hidden_field :preference_type , value: "Vendor" %>
          <div>
            <%= c.label 'First Choice' %>
            <%= c.select :first_choice_id, @vendor_choices %>
          </div>
          <div>
            <%= c.label 'Second Choice' %>
            <%= c.select :second_choice_id, @vendor_choices %>
          </div>
          <div>
            <%= c.label 'Third Choice' %>
            <%= c.select :third_choice_id, @vendor_choices %>
          </div>
        <%end%>
      <% end %>
    </div>
  </div>
  <div>
    <span id="musician_partnership"> I would like to request to book a Pentridge Station musical partner.</span>
    <%= f.check_box :musician_partnership, checked: true%>
    <div id="musician_partnership_form" class="flex flex-col">
      <%= f.fields_for :preferences do |c| %>
        <% if c.object.Musician?%>
          <%= c.hidden_field :preference_type , value: "Musician" %>
          <div>
            <%= c.label 'First Choice' %>
            <%= c.select :first_choice_id, @musician_choices %>
          </div>
          <div>
            <%= c.label 'Second Choice' %>
            <%= c.select :second_choice_id, @musician_choices %>
          </div>
          <div>
            <%= c.label 'Third Choice' %>
            <%= c.select :third_choice_id, @musician_choices %>
          </div>
        <%end%>
      <% end %>
    </div>
  </div>
  <div>
    <%= f.submit "SUBMIT", class: "btn btn-primary" %>
  </div>
<% end %>
