<div id="<%=id%>_section" 
    class="flex justify-between" 
    base=<%=base%>
    wedding=<%=wedding%>
    hourly=<%=hourly%>
    per_person=<%=per_person%>
    large =<%=large%> >
  <p id="<%=id%>_name" class="underline font-light"><%=readable_name%></p>
  <div class="flex flex-col self-end">
    <p class="ml-4">$<span id="<%=id%>_price"></span></p>
  </div>
</div>
