<div class="m-4 mb-4 md:mb-0">
  <div class="md:sticky md:top-10 md:mt-40 self-start border border-gray-300 w-full p-4 md:p-8 ">
    <p class="text-lg lg:text-xl font-medium mb-2">Base Cost</p>
    <%= render 'line_item', 
          id: 'base',
          readable_name: 'Six Hour Event',
          values: "",
          visible: true,
          details: "All events include an hour to set up and an hour to clean up."
      %>
    <%= render 'line_item', 
          id: 'business_operation',
          readable_name: 'Closing Fee',
          values: "",
          visible: false,
          details: "The base cost increased because we would have to close the bar during business hours. You can avoid this added cost by cleaning and vaquating the space by 6 PM firm."
      %>
    <p id="optional_add_ons" class="text-lg lg:text-xl font-medium my-2">Optional Add Ons</p>
    <%= render 'line_item', 
          id: 'doorperson',
          readable_name: 'Doorperson',
          values: "hourly= 30 ",
          visible: true,
          details: ""
      %>
    <%= render 'line_item', 
          id: 'bartender',
          readable_name: 'RAMP Certified Bartender',
          values: "hourly= 30 ",
          visible: false,
          details: ""
      %>
    <%= render 'line_item', 
          id: 'open_bar',
          readable_name: 'Open Bar ',
          values: "per_person= 15 ",
          visible: false,
          details: ""
      %>
    <%= render 'line_item', 
          id: 'entertainer_cost',
          readable_name: 'Entertainer Booking',
          values: "hourly= 100",
          visible: true,
          details: "Entertainers have a two hour booking minimum with exact prices determined upon request."
      %>
    <%= render 'line_item', 
          id: 'food_vendor_cost',
          readable_name: 'Food Vendor Booking',
          values: "per_person= 10",
          visible: true,
          details: "Food vendor pricing is based on your requested menu. Options range from $10 per person for a simpler dish to $200 per person for a full course meal."
      %>
    <h3 class="text-xl lg:text-2xl font-semibold mt-5">Total Estimated Cost</h3>
    <h3 class="text-xl sm:text-2xl mb-3 text-right">$<span id="estimated_price"></span></h3>
    <input type="submit" name="commit" value="REQUEST TO BOOK" 
            id="event_submit" 
            class="md:hidden w-full mt-4 text-white bg-teal-lightest py-3 mb-3 transition-colors duration-200 hover:bg-teal-lighter cursor-pointer"
            form="event_form">
  </div>
</div>
