<div class="m-4 sm:ml-12 md:ml-8 ">
  <div class="md:sticky md:top-10 md:mt-72 self-start border border-gray-300 w-full p-4 md:p-8 ">
    <h3 class="text-2xl lg:text-3xl font-light md:font-semibold ">Total Estimated Cost</h3>
    <h3 class="text-xl sm:text-2xl text-right">$<span id="estimated_price"></span></h3>
    <%= render 'line_item', 
          id: 'base',
          readable_name: 'Base Cost',
          values: ""
      %>
    <%= render 'line_item', 
          id: 'business_operation',
          readable_name: 'Closing Cost *',
          values: ""

      %>
    <%= render 'line_item', 
          id: 'doorperson',
          readable_name: 'Doorperson',
          values: "hourly= 30 "
      %>
    <%= render 'line_item', 
          id: 'bartender',
          readable_name: 'BART Certified Bartender',
          values: "hourly= 30 "
      %>
    <%= render 'line_item', 
          id: 'open_bar',
          readable_name: 'Open Bar ',
          values: "per_person= 15 "
      %>
  </div>
</div>
