<form name="temporary-form" class="w-4/5 z-0">
  <div class="font-bold text-xl mb-3">Date & Time</div>
  <div><%= date_field_tag "temp_event_date",  @event[:date].nil? ? Date.today : @event[:date],
       class: 'form-input temp-form-style mb-2', min: Date.today%></div>
  <div class="flex flex-col sm:flex-row">
    <div><%= select_tag "temp_event_start_time",
    options_for_select(@event.hourly_choices(1,23),  @event[:start_time].nil? ? '' : @event[:start_time].strftime("%T")), 
    class: 'form-select temp-form-style mb-2', required: true, autocomplete: "off", include_blank: 'start time'%></div>
    <div><%= select_tag "temp_event_end_time", 
    options_for_select(@event.hourly_choices(1,23), @event[:end_time].nil? ? '' : @event[:end_time].strftime("%T")),
     class: 'form-select temp-form-style mb-2 sm:ml-1', include_blank: 'end time', autocomplete: "off", required: true%>
    </div>
  </div>
  <div class="font-bold text-xl my-3">Atendees</div>
  <div>
    <%= number_field_tag "temp_event_num_attendees", nil,
    placeholder: 'number of attendees',
      class: 'form-select temp-form-style',
      min: 1,
      max: 300
       %>
  </div>
  <div class="font-bold text-xl mt-5 mb-3">Type of Event</div>
  <div><%= select_tag "temp_event_event_type", 
    options_for_select(Event.event_types, 
      @event[:event_type].nil? ? '0' :  Event.event_types[@event[:event_type]]), 
    {class: 'form-select temp-form-style' }%>
  </div>
  <button id="temp_submit" class="bg-blue-400 w-full py-2 text-xs text-white mt-5">START BOOKING
  </button>
</form>
