<div><%= date_field_tag "temp_event_date", Date.today, min: Date.today%></div>
<div><%= select_tag "temp_event_start_time", options_for_select(@event.hourly_choices(1,23), Tod::TimeOfDay.new(14))%></div>
<div><%= select_tag "temp_event_end_time", options_for_select(@event.hourly_choices(1,23), Tod::TimeOfDay.new(22))%>
</div>
<div><%= select_tag "temp_event_num_attendees", options_for_select(Event.num_attendees)%>
</div>
<div><%= select_tag "temp_event_event_type", options_for_select(Event.event_types)%>
</div>
<button id="temp_submit" class="bg-white px-6 text-xs text-blue-400">Begin Booking
</button>
