%h1 Listing events

%table
  %thead
    %tr
      %th Date
      %th Start
      %th Additional time
      %th Event type
      %th Contact
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.date
        %td= event.start
        %td= event.additional_time
        %td= event.event_type
        %td= event.contact
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
