<%= render 'shared/alternate_header', pageName: 'book' %>
<div class="flex md:flex-row flex-col-reverse">
  <%# <div class=""> %>
  <div class="md:mt-24 pt-3 md:w-3/5">
    <div class=" mx-6 sm:mx-20">
      <%= render 'lorem'%>
    </div>
  </div>
  <%# </div> %>
  <div class="md:w-2/5 sm:flex sm:justify-center md:inline">
    <%= render 'sticky_form' %>
  </div>
</div>
<%= render 'pop_up_screen'%>
<div id="excluded_dates" class="hidden" dates= <%= @excluded_dates%>></div>
