<% content_for :meta_tags do %>
  <title>Rent the Space</title>
  <meta name="description" content="<%= truncate(get_text_content(:aboutBlurb,
  "This is the about blurb, consectetur 
  adipiscing elit, sed do eiusmod tempor incididunt ut labore 
  et dolore magna aliqua. Pellentesque id nibh tortor id aliquet.
  Felis eget nunc lobortis mattis aliquam faucibus. Feugiat nibh
  sed pulvinar proin. Justo nec ultrices dui sapien eget mi")[3..-1],length: 150)
      %>">
<% end %>
<%= render 'shared/alternate_header',
    page: 'book',
    titleMainText: 'Plan your next',
    titleSubText: 'wedding' %>
<div class="flex md:flex-row flex-col-reverse">
  <%# <div class=""> %>
  <div class="md:mt-24 pt-3 md:w-3/5">
    <div class=" mx-6 sm:mx-20">
      <%= render 'details'%>
    </div>
  </div>
  <%# </div> %>
  <div class="md:w-2/5 sm:flex sm:justify-center md:inline">
    <%= render 'sticky_form' %>
  </div>
</div>
<%= render 'pop_up_screen'%>
<div id="excluded_dates" class="hidden" dates= <%= @excluded_dates%>></div>
<div id="event_types_for_header" class="hidden" events= <%= @event_types %>></div>
