<%= render 'shared/alternate_header' %>
<div class="flex sm:flex-row flex-col-reverse">
  <%# <div class=""> %>
  <div class="sm:mt-24 pt-3 sm:w-3/5">
    <div class=" mx-6 sm:mx-20">
      <%= render 'lorem'%>
    </div>
  </div>
  <%# </div> %>
  <div class="sm:w-2/5 ">
    <%= render 'sticky_form' %>
  </div>
</div>
<%= render 'pop_up_screen'%>
<div id="excluded_dates" class="hidden" dates= <%= @excluded_dates%>></div>
