%p#notice= notice

%p
  %b Date:
  = @event.date
%p
  %b Start:
  = @event.start
%p
  %b Additional time:
  = @event.additional_time
%p
  %b Event type:
  = @event.event_type
%p
  %b Contact:
  = @event.contact

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
