<% content_for :meta_tags do %>
  <title>Home</title>
  <meta name="description" content="<%= truncate(get_text_content(:gridOneDescription, 
      'gridOneDescription. Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et aliqua.')[3..-1], length: 150)
      %>">
<% end %>
<%= render 'shared/header', page: 'home' %>
<%= render 'pages/home/grid' %>
<%= render 'pages/home/quote' %>
<%= render 'pages/home/schoolbus' %>
<%= render 'pages/home/press' %>
<%= render 'pages/home/connect' %>
<%= render 'pages/home/popup' %>
