<%= form_for @contact, html: { class: 'hidden' } do |form|%>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
      <ul>
        <% @contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label 'Name:' %>
    <%= form.text_field :first_name, class: "form_input border-0 border-b border-teal-lightest w-80", required: true, maxlength: 32  %>
  </div>
  <div class="field">
    <%= form.label 'Email:  ' %>
    <%= form.email_field :email, class: "form_input border-0 border-b border-teal-lightest w-80", required: true, maxlength: 42  %>
  </div>
  <%= form.hidden_field :entry_process , value: "Newsletter" %>
  <div class="actions">
    <%= form.submit 'subscribe', class: "border border-teal-lightest bg-white px-5 mt-1 hover:bg-gray-200 cursor-pointer" %>
  </div>
<% end %>
