= form.text_field :first_name
= form.text_field :last_name
= form.text_field :email
= form.text_field :phone_number

= form.form_actions do
  = form.submit class: "btn btn-primary"
  = link_to 'Cancel', admin_contacts_path, class: "btn btn-link"
