.page-header
  = link_to 'New Contact', new_admin_contact_path, class: 'btn btn-secondary float-right'
  %h2= 'Contacts'

= paginate @contacts, theme: 'comfy'

%ul.list
  - @contacts.each do |contact|
    %li
      .row
        .col-md-4.item
          .item-content
            .item-title
              = contact.name
        .col-md-4.item
          .item-content
            .item-title
              = contact.email


        .col-md-4.d-flex.align-items-center.justify-content-md-end
          .btn-group.btn-group-sm
            = link_to 'Edit', edit_admin_contact_path(contact), class: 'btn btn-outline-secondary'
            = link_to 'Delete', admin_contact_path(contact), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'

= paginate @contacts, theme: 'comfy'
