 <%= f.fields_for :contact do |c| %>
  <div class="flex">
    <div>
      <%= c.label 'First Name' %>
      <%= c.text_field :first_name, required: true, maxlength: 20 %>
    </div>
    <div>
      <%= c.label 'Last Name' %>
      <%= c.text_field :last_name, required: true, maxlength: 20 %>
    </div>
  </div>
  <div class="flex">
    <div>
      <%= c.label 'Email' %>
      <%= c.email_field :email, required: true, maxlength: 42 %>
    </div>
    <div>
      <%= c.label 'Phone Number' %>
      <%= c.telephone_field :phone_number, required: true, maxlength: 10 %>
    </div>
  </div>
  <%= c.hidden_field :entry_process , value: "Event" %>
<% end %>
