 <%= f.fields_for :contact do |c| %>
  <div class="flex">
    <div>
      <%= c.text_field :first_name, placeholder: 'First Name',
       class: "form-input w-56 ", required: true,
        maxlength: 20  %>
    </div>
    <div>
      <%= c.text_field :last_name,  placeholder: 'Last Name', required: true, maxlength: 20 %>
    </div>
  </div>
  <div class="flex">
    <div>
      <%= c.email_field :email,  placeholder: 'Email', required: true, maxlength: 42 %>
    </div>
    <div>
      <%= c.telephone_field :phone_number, pattern: '[0-9]{10}', placeholder: 'Phone Number', required: true, maxlength: 10 %>
    </div>
  </div>
  <%= c.hidden_field :entry_process , value: "Event" %>
<% end %>
