<div class="relative">
  <p class="mt-1 lg:w-3/4 font-semibold">
    Do you want to partner with Pentridge food vendors and/or musicans?
  </p>
  <%= link_to partners_path, target: :_blank do %>
    <%= inline_svg_tag "question-mark.svg",
                      class:'absolute -left-7 top-2',
                      id: 'question_mark' %>
  <% end %>
</a>
</div>
<div class="flex flex-col sm:flex-row justify-around">
  <%= f.fields_for :preferences do |pref| %>
    <div class="sm:w-1/2 mx-2 mt-2 border-b border-gray-300">
      <% if pref.object.vendor?%>
        <% choices = @vendor_choices%>
        <% partner_type = 'vendor'%>
      <% else%>
        <% choices = @musician_choices%>
        <% partner_type = 'musician'%>
      <%end%>
      <div class="w-48 flex " >
        <%= render 'shared/toggle_button',
                name: 'event_' + partner_type + '_partnership',
                input: (pref.check_box :requested,
                            id: 'event_' + partner_type + '_partnership',
                            class: 'sr-only',
                            checked: 'checked',
                            click_again: (!@event.preferences[pref.index].requested.nil? && 
                                            !@event.preferences[pref.index].requested?) ? 'true' : 'false')
                             %>
        <p class="ml-2 mb-2" id= <%= partner_type+"_partnership_text"%>>I am requesting to book these <%=partner_type.pluralize%>:</p>
      </div>
      <div id=<%=partner_type+"_partnership_form"%> class="flex flex-col">
        <%= pref.hidden_field :preference_type , value: partner_type%>
        <%= pref.select :first_choice_id,
                options_for_select(choices,
                  @event.preferences[pref.index].first_choice_id.nil? ? '' : @event.preferences[pref.index].first_choice_id),
                {include_blank: 'First Choice'},
                {class: 'border-gray-400 text-gray-600 mb-2'} %>
        <%= pref.select :second_choice_id,
                options_for_select(choices,
                  @event.preferences[pref.index].second_choice_id.nil? ? '' : @event.preferences[pref.index].second_choice_id),
                {include_blank: 'Second Choice'},
                {class: 'border-gray-400 text-gray-600 mb-2'} %>
        <%= pref.select :third_choice_id,
                options_for_select(choices,
                  @event.preferences[pref.index].third_choice_id.nil? ? '' : @event.preferences[pref.index].third_choice_id),
                {include_blank: 'Third Choice'},
                {class: 'form-select border-gray-400 text-gray-600 mb-2'} %>
      </div>
    </div>
  <% end %>
</div>
