<div class="flex">
  <div class="mr-8">?</div>
  <div>Do you want to request to book a Pentridge Partner?</div>
</div>
<div class="flex">
  <%= f.fields_for :preferences do |pref| %>
    <div class="">
      <% if pref.object.vendor?%>
        <% choices = @vendor_choices%>
        <% partner_type = 'vendor'%>
      <% else%>
        <% choices = @musician_choices%>
        <% partner_type = 'musician'%>
      <%end%>
      <div class="w-48" >
        <%= render 'shared/toggle_button',
                name: 'event_' + partner_type + '_partnership',
                input: (pref.check_box :requested,
                            id: 'event_' + partner_type + '_partnership',
                            class: 'sr-only',
                            checked: 'checked',
                            click_again: (!@event.preferences[pref.index].requested.nil? && 
                                            !@event.preferences[pref.index].requested?) ? 'true' : 'false')
                             %>
        <span id= <%= partner_type+"_partnership_text"%>>I am requesting to book these <%=partner_type.pluralize%>:</span>
      </div>
      <div id=<%=partner_type+"_partnership_form"%> class="flex flex-col">
        <%= pref.hidden_field :preference_type , value: partner_type%>
        <div>
          <%= pref.label 'First Choice' %>
          <%= pref.select :first_choice_id,
                options_for_select(choices,
                  @event.preferences[pref.index].first_choice_id.nil? ? '' : @event.preferences[pref.index].first_choice_id),
                include_blank: 'First Choice',
                required: true %>
        </div>
        <div>
          <%= pref.label 'Second Choice' %>
          <%= pref.select :second_choice_id,
                options_for_select(choices,
                  @event.preferences[pref.index].second_choice_id.nil? ? '' : @event.preferences[pref.index].second_choice_id),
                include_blank: 'Second Choice',
                required: true %>
        </div>
        <div>
          <%= pref.label 'Third Choice' %>
          <%= pref.select :third_choice_id,
                options_for_select(choices,
                  @event.preferences[pref.index].third_choice_id.nil? ? '' : @event.preferences[pref.index].third_choice_id),
                include_blank: 'Third Choice',
                required: true %>
        </div>
      </div>
    </div>
  <% end %>
</div>
