%li.nav-item
  = active_link_to 'Contacts', admin_contacts_path, class: 'nav-link'
%li.nav-item
  = active_link_to 'Message Requests', admin_messages_path, class: 'nav-link'
%li.nav-item
  = active_link_to 'Partners', admin_partners_path, class: 'nav-link'
%li.nav-item
  = active_link_to 'Event Requests', admin_events_path, class: 'nav-link'
%li.nav-item
  = active_link_to 'Scheduled Events', admin_schedules_path, class: 'nav-link'
%li.nav-item
  = active_link_to 'Popups', admin_popups_path, class: 'nav-link'
