<a href= <%= actionLink%> class="group">
  <div class="square bg-teal-backup relative bg-local bg-center bg-cover" 
   style=  "background-image: url(<%= get_photo_url(photo)%>)">
    <div class="z-10 absolute opacity-80 top-1/4 left-0 w-full h-3/4 bg-gradient-to-b from-transparent to-teal-darkest"></div>
    <div class="z-20 flex absolute top-0 flex-col justify-end h-full">
      <div class="ml-6 mb-6 lg:mb-8 text-white w-8/12 sm:w-96 md:w-10/12">
        <div class="font-bold my-4"><%= title %></div>
        <div class="text-2xl sm:text-4xl md:text-3xl lg:text-4xl"><%= subtitle %></div>
        <button class="border-4 border-teal-figma w-40 py-2 text-xs mt-2 sm:mt-4 lg:mt-6 flex justify-center transition-all duration-500 group-hover:underline group-hover:border-opacity-0">
          <%= actionText%>
        </button>
      </div>
    </div>
  </div>
</a>
