<div class="square bg-teal-backup relative bg-local bg-center bg-cover" 
   style=  "background-image: url(<%= get_photo_url(photo)%>)">
  <div class="absolute top-5 sm:top-16 md:top-0 lg:top-1/3 left-0 ml-12 mb-6 text-white w-8/12 sm:w-96 md:w-10/12">
    <div class="font-bold my-4"><%= title %></div>
    <div class="text-2xl sm:text-4xl"><%= subtitle %></div>
    <a href= <%= actionLink%>>
      <button class="border-4 border-teal-figma w-36 text-xs mt-8 flex justify-center">
        <%= actionText%>
      </button>
    </a>
  </div>
</div>
