= form.check_box :status
= form.text_field :title
= form.text_field :body
= form.file_field :photo

= form.form_actions do
  = form.submit class: "btn btn-primary"
  = link_to 'Cancel', admin_popups_path, class: "btn btn-link"
