.page-header
  = link_to 'New Popup', new_admin_popup_path, class: 'btn btn-secondary float-right'
  %h2= 'Popups'

= paginate @popups, theme: 'comfy'

%ul.list
  - @popups.each do |popup|
    %li
      .row
        .col-md-8.item
          .item-content
            .item-title
              = popup.title

        .col-md-4.d-flex.align-items-center.justify-content-md-end
          .btn-group.btn-group-sm
            = link_to 'Edit', edit_admin_popup_path(popup), class: 'btn btn-outline-secondary'
            = link_to 'Delete', admin_popup_path(popup), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'

= paginate @popups, theme: 'comfy'
