<div id=<%="article-#{articleNum}"%> 
    class="<%=class_names(columnSize, "press-medium-container")%>"
      style=  "background-image: url(<%= get_photo_url(photo)%>)">
  <a <%=get_article_href(link) %>>
    <div class="press-screen group">
      <div class="press-text-container">
        <p class="press-header">
          <%=get_text_content(publisher, "Article #{articleNum} Publisher")%>
        </p>
        <div class="press-line"></div>
        <p class="<%=class_names(quoteWidth, "press-quote")%>">
          <%=get_text_content(headline, "A headline or quote from article #{articleNum} to build social proof.")%>
        </p>
      </div>
    </div>
  </a>
</div>
